
body {
  background-color: #f0f8ff;
}
header img {
  max-height: 160px;
}
.service-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
  margin-bottom: 20px;
}
footer {
  background: #eee;
  padding: 10px 0;
  text-align: center;
}
