body {
  background: linear-gradient(rgba(0, 19, 60, 0.92), rgba(0, 19, 60, 0.92)),
              url('img/thai-bg.png');
  background-size: 400px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
